<div class="container-fluid">
  <div class="row" style="min-height: calc(100vh - 73px);">
    <%= render 'shared/leftnav' %>
    <main class="col-sm-7 p-0 bg-light border-right main-content">
      <nav class="nav px-5 mb-5 main-nav border-bottom d-flex align-items-center">
        <%= link_to 'DISCOVER', users_path, class: 'nav-link active text-dark px-0' %>
      </nav>
      <div>
				<div class="container">
					<% @users.each do |user| %>
						<div class="card p-3 mb-3">
							<div class="row no-gutters">
									<div class="col-3 col-lg-1 text-center">
										<%= image_tag(user.thumbnail, class: 'thumbnail')%>
									</div>
									<div class="col-6 col-lg-9">
											<div class="card-body p-0">
												<h6 class="card-title mb-0">
													<%= link_to user.fullname, user_path(user), class: 'text-body font-weight-bold text-decoration-none' %>
													</br>
													<span class="text-extra-small text-muted">@<%= user.username %></span>
												</h6>
											</div>
									</div>
									<div class="user-<%= user.id %> col-3 col-lg-2 d-flex align-items-center justify-content-end">
										<%= render 'shared/follow', user: user  %>
									</div>
							</div>
						</div>
					<% end %>
				</div>
      </div>
    </main>
  </div>
</div>