<div class="container-fluid">
  <div class="row" style="min-height: calc(100vh - 72px);">
    <%= render 'shared/leftnav' %>
    <main class="col-sm-7 p-0 bg-light border-right">
      <div class="cover">
        <%= image_tag(@user.cover, class: 'cover-img') if current_user.image %>
      </div>
      <nav class="nav px-5 mb-5 border-bottom d-flex align-items-center">
        <div class="">
          <%= link_to 'TWEETS', root_path, class: 'nav-link main-nav active text-dark px-0' %>
        </div>
        <div class="ml-auto">
          <% unless current_user == @user %>
            <% unless current_user.cannot_follow?(@user) %>
              <%= button_to 'FOLLOW', {controller: "friendships", action: "create", id: @user.id}, method: :post, class: 'btn btn-outline-primary' %>
            <% else %>
              <%= button_to 'UNFOLLOW', {controller: "friendships", action: "destroy", id: @user.id}, method: :delete, class: 'btn btn-outline-danger' %>
            <% end %>
          <% end %>
        </div>
      </nav>
      <div>
        <div class="container px-5">
          <% if current_user?(@user) %>
            <div class="bg-white border rounded">
                <h6 class="p-3 m-0 text-muted">TWEET SOMETHING</h6>
                <%= form_for(:opinion, url: opinions_path, html: {class: 'px-3 pb-3'}) do |f| %>
                  <div class="form-group">
                    <%= f.text_field :text, class: 'form-control', placeholder: 'Compose new tweet' %>
                  </div> 
                <% end %>
            </div>
          <% end %>
          <div class="bg-white border rounded px-3 py-4 mt-5 mb-5">
            <h6 class="pb-3 border-bottom text-primary">RECENT TWEETS</h6>
            <% @opinions.each do |opinion| %>
              <div class="card mb-3 border-0">
                <div class="row no-gutters">
                  <div class="col-3 col-lg-1">
                    <%= image_tag(@user.thumbnail, class: 'thumbnail') %>
                  </div>
                  <div class="col-9 col-lg-11">
                    <div class="card-body py-0 px-3">
                      <h6 class="card-title mb-0"><%= @user.fullname %></h6>
                      <p class="card-text text-muted"><%= opinion.text %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
    <aside class="col-sm-3 bg-light">
      <div class="">
        <div class="text-center d-flex flex-column align-items-stretch" style="height: 400px;">
          <div class="pt-5">
            <%= image_tag(@user.profile, class: "profile-img") %>
          </div>
          <div class="card-body pb-4">
            <p class="mb-0"> <%= @user.fullname %> </p>
            <p class="text-muted text-extra-small"> @<%= @user.username %> </p>
          </div>
          <div class="row border-top border-bottom">
            <div class="col-sm-4 border-right py-3">
              <div class = ""><%= @opinions.count %></div>
              <h6 class="mb-0 text-muted">Tweets</h6>
            </div>
            <div class="col-sm-4 border-right py-3">
              <div class = ""><%= @user.followees.count %></div>
              <h6 class="mb-0 text-muted">Following</h6>
            </div>
            <div class="col-sm-4 py-3">
              <div class = ""><%= @user.followers.count %></div>
              <h6 class="mb-0 text-muted">Followers</h6>
            </div>
          </div> 
        </div>
      </div>
      <div class="border-bottom d-flex align-items-center" style="height: 82px">
        <h6 class="text-muted pl-2 mb-0"> FOLLOWED BY </h6>
      </div>
      <div class="container py-4">
        <% @user.followers.each do |user| %>
            <div class="card mb-4 border-0 bg-transparent">
                <div class="row no-gutters">
                  <div class="col-sm-2">
                    <%= image_tag(user.thumbnail, class: 'side-thumbnail') %>
                  </div>
                  <div class="col-sm-10">
                    <div class="card-body py-3 px-4">
                      <h6 class="card-title mb-0"><%= link_to user.fullname, user_path(user) %></h6>
                      <small class="text-muted">@<%=user.username%></small>
                    </div>
                  </div>
                </div>
            </div>
        <% end %>
      </div>
    </aside>
  </div>
</div>