<div class="col-sm-2 b-right bg-blue">
  <% if current_user %>
    <div class="row text-center b-bottom">
    <div class="col-sm-6 py-2 b-right">
        <div class="following text-white"><%= current_user.followees.count %></div>
        <h6 class="text-secondary text-small">Following</h6>
    </div>
    <div class="col-sm-6 py-2">
        <div class="followers text-white"><%= current_user.followers.count %></div>
        <h6 class="text-secondary text-small">Followers</h6>
    </div>
    </div>
    <div class="row">
    <nav class="w-100">
        <ul class="list-unstyled">
          <li class="">
            <%= link_to root_path, class: "p-3 color-link" do %>
              <%= icon("fas", "home", class: "pr-1") %> HOME
            <% end %>
					</li>
          <li class="">
            <%= link_to users_path, class: "p-3 color-link" do %>
              <%= icon("fas", "plug", class: "pr-1") %> CONNECT
            <% end %>
					</li>
          <li class="">
            <%= link_to user_path(current_user), class: "p-3 color-link" do %>
              <%= icon("fas", "user", class: "pr-1") %> PROFILE
            <% end %>
					</li>
          <li class="">
            <%= link_to edit_user_path(current_user), class: "p-3 color-link" do %>
              <%= icon("fas", "cog", class: "pr-1") %> SETTINGS
            <% end %>
					</li>
        </ul>
    </nav>
    </div>
  <% end %>
</div>